{% extends 'base.html' %}

{% block content %}
    {% for question in question_list %}
        <p>{{ question.body_question }}</p>
    {% endfor %}
    <hr>

    <h2>Answers:</h2>
    {% if answers %}
        <ul>
        {% for answer in answers %}
            {% if answer %}
                <li>
                    <a href="{% url 'profile_page' request.user %}">{{ answer.user.first_name }}</a>
                </li>
                {% if answer.poster %}
                    <li>
                        <img src="{{ answer.poster.url }}" alt="Answer Image" style="max-width: 300px; max-height: 300px;">
                    </li>
                {% else %}
                    <li>rasm yo'q, akasi</li>
                {% endif %}
                <li>{{ answer.answer }}</li>
                <li>------------------------------------------------------</li>
            {% else %}
                <li>rasm yo'q, akasi</li>
            {% endif %}
        {% empty %}
            <li>No answers yet.</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No answers yet.</p>
    {% endif %}

    <hr>
{% endblock content %}
