{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ blog.name }}</h3>
            <p class="card-text">{{ blog.description }}</p>
            <p class="card-text"><strong>Creator:</strong> {{ channel.creator }}</p>
            <p class="card-text"><strong>Created:</strong> {{ channel.created }}</p>
            <p class="card-text"><strong>Subscribers:</strong> {{ channel.subscribers.count }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
