{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="container">
  {% if q %}
    {{ q }}
  {% endif %}
  <div class="row">
    {% for post in post_list %}
    <div class="col-md-7 mb-3">
      <div class="card">
        <img class="card-img-top" src="{{ post.photo.url }}" alt="{{ post.title }}">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h5>
          <p class="card-text">{{ post.description|truncatechars:150 }}</p>
          <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">View More</a>
          <small class="text-muted">
            <a href="{% url 'profile_page' slug=post.author.profile.slug %}">{{ post.author.username }}</a>
          </small>
        </div>
        <div class="card-footer">

          <a href="{% url 'add_comment' post.slug %}" >
            <i class="fa-solid fa-comment-dots fa-beat fa-xl" style="color: #2a2b2c;"></i>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>



<script src="{% static 'Javascript/script.js' %}"></script>
{% endblock content %}




