
  <div class="container my-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2 class="text-center mb-4">Yangi Savol Yaratish</h2>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          <input type="text" class="form-control" id="{{ form.user.id_for_label }}" name="{{ form.user.name }}" value="{{ request.user.username }}" readonly>
          <div class="form-group">
            <label for="body_question">Savol Matni</label>
            <textarea class="form-control" id="body_question" name="body_question" rows="5" required></textarea>
          </div>
          <br></br>
          <div class="form-group">
            <label for="poster">Rasm</label>
            <input type="file" class="form-control-file" id="poster" name="poster">
          </div>
          <br></br>
          <button type="submit" class="btn btn-primary">Savolni Jo'natish</button>
        </form>
      </div>
    </div>
  </div>

