{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="container-fluid">
    <div class="card">
      {% if object.photo %}
        <img src="{{ object.photo.url }}" class="card-img-top" style="max-width: 700px; max-height: 700px;" alt="{{ object.title }}">
      {% endif %}
      <div class="card-body">
        <h1 class="card-title">{{ object.title }}</h1>
        <h6 class="card-subtitle mb-2 text-muted">{{ object.date }}</h6>
        <p class="card-text">{{ object.description | safe }}</p>
        {% if request.user == post.author %}
             <a href="{% url 'update_post' post.slug %}">Tahrirlash</a> |
        {% endif %}
        <form action="{% url 'like_post' object.slug %}" method="POST">
          {% csrf_token %}
          <button type="submit" name="post_slug" value="{{ object.slug }}" class="btn btn-primary btn-sm">Like</button>
          <span class="ml-2">{{ total_likes }} Likes</span><br></br>
        </form>
        <a href="{% url 'add_comment' object.slug %}" class="btn btn-outline-primary">Yangi sharh qo'shish</a>

        <h3>Comments</h3>
        <ul class="list-unstyled">
          {% for comment in comments %}
            <li>
              {% if comment.name.profile.profile_pic %}
                <img class="card-img-top" src="{{ comment.name.profile.profile_pic.url }}" alt="{{ comment.name.username }}" style="max-width: 100px; max-height: 100px;">
                <a href="{% url 'profile_page' comment.name.profile %}" >{{ comment.name }}</a>
              {% else %}
                <img src="{% static 'img/vecteezy_default-profile-account-unknown-icon-black-silhouette_20765399.jpg' %}" alt="Default Profile Picture" style="max-width: 100px; max-height: 100px;" class="img-fluid">
              {% endif %}
              <p>{{ comment.body }}</p>
              <small>{{ comment.created_at }}</small>
            </li>
          {% empty %}
            <li>There are no comments yet...</li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>

{% endblock %}
